#mapid {
    height: 100vh;
    margin: 0;
}

#container {
    display: flex;
}

#table-rutas {
    flex-basis: 40%;
    flex-grow: 1;
}

#mapid {
    flex-basis: 60%;
    flex-grow: 2;
}

#tablita {
    height: 100vh;
    overflow-y: scroll;
}